html, body{
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

body {
  font-family: 'myFont', sans-serif;
  height: 100%;
}

@font-face {
    font-family: myFont;
    src: url(brandon_med_it.otf);
}

p{
  font-size: 22px;
  line-height: 1.5;
}
ul {
list-style-type: none;
}
a{
  text-decoration: none;
  color: #555;
}
a:hover{
  text-decoration: none;
  color: #fff;

}
.col-sm-12{
  padding: 0;
  height: 100%;

}

.row{
  margin: 0;
  height: 100%;
}

#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

 #app section {
   /* display: none;*/
   height: 100%;
 }

#app section .item{
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
section#home{
  margin: 0px;
  padding: 0px;
}

#app section#home{


  color: #444;

}

#app section#home p{
  font-size: 17px;

}


/**--------------------------------------**/
#loading{
text-align: center;
font-size: 50px;

padding: 20%;

}

.centered-holder {
  position: relative;
}

.centered {
  position: absolute;
}


footer {
  background-color:#red;
  color: white;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 5px;
  text-align: center;

}

footer a {
  color: rgba(255,255,255,0.6);
  padding-left: 15px;
  padding-right: 15px;
  font-size: 2em;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}


body.section-home .link-home{
  display: none;
}


/* body.section-info .link-info{
  display: none;
}
*/

.centered {
  position: absolute;
}

#img {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.box {
  position: absolute;
  width: 100px;
  height: 100px;
}


#weather{
  /*border: 1px solid red; */
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #95D0D2; /* --------- ATTENZIONE CAMBIARE IN BASE TEMPO E ORE -----------*/



}

#weather .box-angle{
  position: absolute;
  background-color: transparent;;
  width: 70px;
  height: 70px;
  color: white;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  border-radius: 50%;
  border: solid #fff;
  text-align: center;
  line-height: 67px; /* centrare vert*/
}

#weather #top-left.box-angle{
  top: 10px;
  left: 15px;
  font-size: 18px;
}
#weather #top-right.box-angle{
  top: 10px;
  right: 15px;
  font-size: 20px;
}
#weather #bottom-left.box-angle{
  bottom: 10px;
  left: 15px;
  font-size: 14px; /*eliminare bs e state*/
}
#weather #bottom-right.box-angle{
  bottom: 10px;
  right: 15px;
}
.circle {
  display: inline-block;
   width: 8px;
   height: 8px;
   background: #fff;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
}

#weather #today {
  border: 3px solid green;
}

#weather #sm {
  width: 80%;
  height: 80%;
  /*border: 1px solid red;*/
  background-image: url("../img/insieme4.png");
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 1.5s ease-out;
}
@media   (max-width: 600px){
  #weather #sm{
  max-width: 60%;
  height: 60%;
  background-image: url("../img/insieme5.png");
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 1.5s ease-out;
  }
}


.icon .weather-mountain {
    width: 100%;
    height: 100%; } }
.weather-1 .weather-icon{
  background-image: url("../img/bello_fermo.png");
  }

.weather-2 .weather-icon {
  background-image: url("../img/bello_fermo.png"); }

.weather-3 .weather-icon {
  background-image: url("../img/bello_fermo.png"); }

.weather-4 .weather-icon {
  background-image: url("../img/nuvolo_fermo.png"); }

.weather-5 .weather-icon {
  background-image: url("../img/nuvolo_fermo.png"); }

.weather-6 .weather-icon {
  background-image: url("../img/nebbia_fermo.png"); }

.weather-7 .weather-icon {
  background-image: url("../img/nuvolo_mosso.png"); }

.weather-8 .weather-icon {
  background-image: url("../img/pioggia_fermo.png"); }

.weather-9 .weather-icon {
  background-image: url("../img/neve_fermo.png"); }

.weather-10 .weather-icon {
  background-image: url("../img/neve_fermo.png"); }

.weather-11 .weather-icon {
  background-image: url("../img/grandine_fermo.png");}
/* ----------------------- GRADIENT -----------------------------------*/

.weather-1 .weather-2 .sfondo .day{ /* BELLO GIORNO*/
  background-image: -ms-linear-gradient(top, #E4E2B4 0%, #98D1D2 100%);
  background-image: -moz-linear-gradient(top, #E4E2B4 0%, #98D1D2 100%);
  background-image: -o-linear-gradient(top, #E4E2B4 0%, #98D1D2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E4E2B4), color-stop(100, #98D1D2));
  background-image: -webkit-linear-gradient(top, #E4E2B4 0%, #98D1D2 100%);
  background-image: linear-gradient(to bottom, #E4E2B4 0%, #98D1D2 100%);
}
.weather-3 .sfondo .notte { /* BELLO notte*/
  background-image: -ms-linear-gradient(top, #8DB6D3 0%, #565EA3 100%);
  background-image: -moz-linear-gradient(top, #8DB6D3 0%, #565EA3 100%);
  background-image: -o-linear-gradient(top, #8DB6D3 0%, #565EA3 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8DB6D3), color-stop(100, #565EA3));
  background-image: -webkit-linear-gradient(top, #8DB6D3 0%, #565EA3 100%);
  background-image: linear-gradient(to bottom, #8DB6D3 0%, #565EA3 100%);
}
.weather-4 .sfondo .day { /* NUVOLO DAY*/
  background-image: -ms-linear-gradient(top, #EFECDF 0%, #9DC5C6 100%);
  background-image: -moz-linear-gradient(top, #EFECDF 0%, #9DC5C6 100%);
  background-image: -o-linear-gradient(top, #EFECDF 0%, #9DC5C6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EFECDF), color-stop(100, #9DC5C6));
  background-image: -webkit-linear-gradient(top, #EFECDF 0%, #9DC5C6 100%);
  background-image: linear-gradient(to bottom, #EFECDF 0%, #9DC5C6 100%);
}
.weather-5 .sfondo .notte{ /* NUVOLO NIGHT*/
  background-image: -ms-linear-gradient(top, #DFE4EF 0%, #4A5B9C 100%);
  background-image: -moz-linear-gradient(top, #DFE4EF 0%, #4A5B9C 100%);
  background-image: -o-linear-gradient(top, #DFE4EF 0%, #4A5B9C 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DFE4EF), color-stop(100, #4A5B9C));
  background-image: -webkit-linear-gradient(top, #DFE4EF 0%, #4A5B9C 100%);
  background-image: linear-gradient(to bottom, #DFE4EF 0%, #4A5B9C 100%);
}
.weather-6 .sfondo .day{ /* FOGGY DAY*/
  background-image: -ms-linear-gradient(top, #D6DAD4 0%, #868F80 100%);
  background-image: -moz-linear-gradient(top, #D6DAD4 0%, #868F80 100%);
  background-image: -o-linear-gradient(top, #D6DAD4 0%, #868F80 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D6DAD4), color-stop(100, #868F80));
  background-image: -webkit-linear-gradient(top, #D6DAD4 0%, #868F80 100%);
  background-image: linear-gradient(to bottom, #D6DAD4 0%, #868F80 100%);
}
.weather-X .sfondo .notte { /* FOGGY NIGHT----> FUORI CODICE */
  background-image: -ms-linear-gradient(top, #9CB3C1 0%, #83808F 100%);
  background-image: -moz-linear-gradient(top, #9CB3C1 0%, #83808F 100%);
  background-image: -o-linear-gradient(top, #9CB3C1 0%, #83808F 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9CB3C1), color-stop(100, #83808F));
  background-image: -webkit-linear-gradient(top, #9CB3C1 0%, #83808F 100%);
  background-image: linear-gradient(to bottom, #9CB3C1 0%, #83808F 100%);
}
.weather-7 .sfondo .day{ /* WINDY DAY*/
  background-image: -ms-linear-gradient(top, #EFECDF 0%, #9DC5C6 100%);
  background-image: -moz-linear-gradient(top, #EFECDF 0%, #9DC5C6 100%);
  background-image: -o-linear-gradient(top, #EFECDF 0%, #9DC5C6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EFECDF), color-stop(100, #9DC5C6));
  background-image: -webkit-linear-gradient(top, #EFECDF 0%, #9DC5C6 100%);
  background-image: linear-gradient(to bottom, #EFECDF 0%, #9DC5C6 100%);
}
.weather-Y .sfondo .notte { /* WINDY NIGHT ----> FUORI CODICE */
  background-image: -ms-linear-gradient(top, #DFE4EF 0%, #4A5B9C 100%);
  background-image: -moz-linear-gradient(top, #DFE4EF 0%, #4A5B9C 100%);
  background-image: -o-linear-gradient(top, #DFE4EF 0%, #4A5B9C 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DFE4EF), color-stop(100, #4A5B9C));
  background-image: -webkit-linear-gradient(top, #DFE4EF 0%, #4A5B9C 100%);
  background-image: linear-gradient(to bottom, #DFE4EF 0%, #4A5B9C 100%);
}
.weather-8 .sfondo .day { /* RAINY DAY*/
  background-image: -ms-linear-gradient(top, #B7C7D5 0%, #D0D8D8 100%);
  background-image: -moz-linear-gradient(top, #B7C7D5 0%, #D0D8D8 100%);
  background-image: -o-linear-gradient(top, #B7C7D5 0%, #D0D8D8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B7C7D5), color-stop(100, #D0D8D8));
  background-image: -webkit-linear-gradient(top, #B7C7D5 0%, #D0D8D8 100%);
  background-image: linear-gradient(to bottom, #B7C7D5 0%, #D0D8D8 100%);
}
.weather-z .sfondo .notte { /* RAINY night ----> FUORI CODICE */
  background-image: -ms-linear-gradient(top, #B7C7D5 0%, #D0D8D8 100%);
  background-image: -moz-linear-gradient(top, #B7C7D5 0%, #D0D8D8 100%);
  background-image: -o-linear-gradient(top, #B7C7D5 0%, #D0D8D8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #B7C7D5), color-stop(100, #D0D8D8));
  background-image: -webkit-linear-gradient(top, #B7C7D5 0%, #D0D8D8 100%);
  background-image: linear-gradient(to bottom, #B7C7D5 0%, #D0D8D8 100%);
}
.weather-9 .sfondo .day { /* COLD DAY */
  background-image: -ms-linear-gradient(top, #D4F2F6 0%, #D0D8D8 100%);
  background-image: -moz-linear-gradient(top, #D4F2F6 0%, #D0D8D8 100%);
  background-image: -o-linear-gradient(top, #D4F2F6 0%, #D0D8D8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D4F2F6), color-stop(100, #D0D8D8));
  background-image: -webkit-linear-gradient(top, #D4F2F6 0%, #D0D8D8 100%);
  background-image: linear-gradient(to bottom, #D4F2F6 0%, #D0D8D8 100%);
}
.weather-10 .sfondo .day { /* SNOW DAY */
  background-image: -ms-linear-gradient(top, #D4F2F6 0%, #D0D8D8 100%);
  background-image: -moz-linear-gradient(top, #D4F2F6 0%, #D0D8D8 100%);
  background-image: -o-linear-gradient(top, #D4F2F6 0%, #D0D8D8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D4F2F6), color-stop(100, #D0D8D8));
  background-image: -webkit-linear-gradient(top, #D4F2F6 0%, #D0D8D8 100%);
  background-image: linear-gradient(to bottom, #D4F2F6 0%, #D0D8D8 100%);
}
.weather-K .sfondo .notte { /* snow night  ----> FUORI CODICE */
  background-image: -ms-linear-gradient(top, #D4DFF6 0%, #6B7B9D 100%);
  background-image: -moz-linear-gradient(top, #D4DFF6 0%, #6B7B9D 100%);
  background-image: -o-linear-gradient(top, #D4DFF6 0%, #6B7B9D 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D4DFF6), color-stop(100, #6B7B9D));
  background-image: -webkit-linear-gradient(top, #D4DFF6 0%, #6B7B9D 100%);
  background-image: linear-gradient(to bottom, #D4DFF6 0%, #6B7B9D 100%);
}
.weather-11 .sfondo .day { /* tunderstorm DAY */
  background-image: -ms-linear-gradient(top, #D4F2F6 0%, #9BB5B6 100%);
  background-image: -moz-linear-gradient(top, #D4F2F6 0%, #9BB5B6 100%);
  background-image: -o-linear-gradient(top, #D4F2F6 0%, #9BB5B6 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D4F2F6), color-stop(100, #9BB5B6));
  background-image: -webkit-linear-gradient(top, #D4F2F6 0%, #9BB5B6 100%);
  background-image: linear-gradient(to bottom, #D4F2F6 0%, #9BB5B6 100%);
}

.weather-J .sfondo .notte { /* tunderstorm NIGHT ----> FUORI CODICE */
  background-image: -ms-linear-gradient(top, #9BB1D9 0%, #87919F 100%);
  background-image: -moz-linear-gradient(top, #9BB1D9 0%, #87919F 100%);
  background-image: -o-linear-gradient(top, #9BB1D9 0%, #87919F 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9BB1D9), color-stop(100, #87919F));
  background-image: -webkit-linear-gradient(top, #9BB1D9 0%, #87919F 100%);
  background-image: linear-gradient(to bottom, #9BB1D9 0%, #87919F 100%);
}


/* ------------------------- FINE GRADIENT ----------------------*/

/*------------------------------- MENU --------------------------*/
section#open-menu{
  height: 100%;
}

  p.chiudi{
    padding: 20px 20px 0px 0px;
    font-family: 'myFont', sans-serif;
    color: #4A4A4A;

    display: inline-block;
    float: right;

  }
  p.chiudi:hover{
    color: #fff;
  }
  #citta{
    background-color: #E1E1B6;
    height:200px;
    text-align: center;
    padding-top: 80px;
    color: #4A4A4A;
    font-family: 'myFont', sans-serif;
  }
  p.om{
    text-align: justify;
    padding-left: 640px;;

  }
  @media screen and (max-width: 480px) {
    p.om {
        padding-left: 120px;;
    }
}


  #umidita{
    background-color: #CFDDBC;
    height: 200px;
    text-align: center;
    padding-top: 80px;
    color: #4A4A4A;
    font-family: 'myFont', sans-serif;
  }
  #gradi{
    background-color: #B5D7C6;
    height: 200px;
    text-align: center;
    padding-top: 80px;
    color: #4A4A4A;
    font-family: 'myFont', sans-serif;
  }
  #condividi{
    background-color: #9FD3D0;
    height: 200px;
    text-align: center;
    padding-top: 80px;
    color: #4A4A4A;
    font-family: 'myFont', sans-serif;
    text-decoration: none;
  }




  /*------------------------------- FINE MENU --------------------------*/
